@tailwind base;
@tailwind components;
@tailwind utilities;


.mat-mdc-row {
    background-color: #111827 !important;
    color: white !important;
}

.mat-table .mat-header-cell {
    color: rgba(243, 102, 33, 1) !important;
    background-color: #FCF3EC !important;
}