<div class="w-full mx-auto p-3 bg-gray-800">
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <label for="group_name" class="block mb-2 text-sm text-center font-medium text-white">Group name</label>
        <input
          type="text"
          id="group_name"
          formControlName="groupName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Group name"
          required
        />
        <!-- <div *ngIf="groupForm.get('groupName').invalid && (groupForm.get('groupName').dirty || groupForm.get('groupName').touched)"
          class="text-red-500 text-sm mt-1">
          <div *ngIf="groupForm.get('groupName')?.errors.required">
            Group name is required.
          </div>
        </div> -->
      </div>
      <h1 class="text-white text-center font-medium">Users</h1>
      <ul class="w-full my-2 text-sm font-medium text-white bg-gray-700 border border-gray-600 rounded-lg">
        <ng-container *ngFor="let user of allUsers">
          <li class="w-full border-b border-gray-600 rounded-t-lg">
            <div class="flex items-center ps-3">
              <input
                type="checkbox"
                [value]="user._id"
                (change)="toggleUserSelection(user._id)"
                class="w-4 h-4 accent-violet-600 bg-gray-700 border-gray-600 rounded focus:ring-violet-500 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2"
              />
              <label class="w-full py-3 ms-2 text-sm font-medium text-gray-300">{{ user.name }}</label>
            </div>
          </li>
        </ng-container>
      </ul>
      <div class="w-full flex justify-center">
        <button type="submit" [disabled]="groupForm.invalid" class="px-3 py-2 bg-violet-500 rounded-md text-white">Create</button>
      </div>
    </form>
  </div>
  