<section class="bg-slate-50 dark:bg-gray-800  flex items-center justify-center">
  <div class="w-full  mx-auto p-3 bg-slate-50 dark:bg-gray-900 rounded-lg shadow-md">
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <label for="group_name" class="block mb-2 text-sm text-center font-medium text-gray-900 dark:text-white">Group name</label>
        <input type="text" id="group_name" formControlName="groupName"
          class="dark:bg-gray-800 bg-slate-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Group name" required />
        <!-- Validation messages can be uncommented if needed
        <div *ngIf="groupForm.get('groupName').invalid && (groupForm.get('groupName').dirty || groupForm.get('groupName').touched)"
            class="text-red-500 text-sm mt-1">
            <div *ngIf="groupForm.get('groupName')?.errors.required">
              Group name is required.
            </div>
          </div>
        -->
      </div>
      <h1 class="text-gray-900 dark:text-white text-center font-medium mb-4">Users</h1>
      <ul class="w-full my-2 text-sm font-medium text-gray-900 dark:text-white bg-slate-200 dark:bg-gray-800  rounded-lg">
        <ng-container *ngFor="let user of allUsers">
          <li class="w-full border-b border-gray-500 dark:border-gray-600">
            <div class="flex items-center p-3">
              <input type="checkbox" [value]="user._id" (change)="toggleUserSelection(user._id)"
                class="w-4 h-4 accent-violet-600 bg-slate-200 dark:bg-gray-700  rounded focus:ring-violet-500 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2" />
              <label class="ml-2 text-sm font-medium text-gray-900 dark:text-white">{{ user.name }}</label>
            </div>
          </li>
        </ng-container>
      </ul>
      <div class="w-full flex justify-center mt-6">
        <button type="submit" [disabled]="groupForm.invalid"
          class="w-full px-4 py-3 bg-violet-500 rounded-md text-white hover:bg-violet-400 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2">
          Create
        </button>
      </div>
    </form>
  </div>
</section>
